nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
}
